<div class="bg-gray-400 h-screen">
    <div class="p-2">
        <ul>
            <li *ngFor="let item of sideItems"
                class="my-2 px-2 py-1 hover:bg-white cursor-pointer rounded-sm transition-all"
                (click)="changePath(item.url)">
                <div class="flex items-center">
                    <div class="w-5 h-5 mx-1">
                        <img src={{constructImagePath(item.img)}} alt="">
                    </div>
                    <p class="text-lg">{{item.name}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>