.Auth {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}


.element {
    margin: 5px 0;
}