<app-spinner [hidden]="!spinnerFlag"></app-spinner>
<div class="flex">
    <div class="w-1/5">
        <app-profile-side-nav></app-profile-side-nav>
    </div>
    <div class="flex">
        <div class="p-2">
            <div class="flex">
                <form>
                    <div class="flex flex-col mb-2 items-center">
                        <div class="w-[400px] h-[360px] my-2">
                            <img src="http://via.placeholder.com/400x360" alt="">
                        </div>
                        <input type="file" class="w-full p-2">
                    </div>
                    <div class="flex items-center">
                        <div class="flex items-center justify-between">
                            <div class="w-1/2 m-1">
                                <label class="text-sm">Please Enter Name</label>
                                <div class="flex border border-black py-1 px-2">
                                    <div class="w-6 h-6">
                                        <img src="../../../../assets/svg/user.svg" alt="">
                                    </div>
                                    <div>
                                        <input class="border-none outline-none w-full px-1" type="text"
                                            placeholder="Name" [value]="profile?.name">
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/2 m-1">
                                <label class="text-sm">Please Enter Phone</label>
                                <div class="flex border border-black py-1 px-2">
                                    <div class="w-6 h-6">
                                        <img src="../../../../assets/svg/phone.svg" alt="">
                                    </div>
                                    <div>
                                        <input class="border-none outline-none w-full px-1" type="text"
                                            placeholder="Name" [value]="profile?.phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="flex items-center justify-between">
                            <div class="m-1">
                                <label class="text-sm">Please Select Gender</label>
                                <div class="flex border border-black py-1 px-2">
                                    <div class="w-6 h-6">
                                        <img src="../../../../assets/svg/user.svg" alt="">
                                    </div>
                                    <div class="w-full">
                                        <select class="w-full outline-none">
                                            <option [disabled]="true" [selected]="true">Select Gender</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="m-1">
                                <label class="text-sm">Please Select DOB</label>
                                <div class="flex border border-black py-1 px-2">
                                    <div class="w-6 h-6">
                                        <img src="../../../../assets/svg/calendar.svg" alt="">
                                    </div>
                                    <div class="w-full">
                                        <input class="border-none outline-none w-full px-1" type="date"
                                            placeholder="Name" [value]="profile?.dob">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2 mx-1">
                        <button type="submit" class="text-white bg-green-600 px-4 py-2 shadow-xl"
                            (click)="submitUpdateProfile()">Update Profile</button>
                    </div>
                </form>

            </div>
        </div>
        <div>
            <img src="../../../../assets/svg/add-undraw.svg" alt="">
        </div>
    </div>
</div>