<div class="p-10">

    <div class="mb-10">
        <p class="text-4xl">Student Onboarding Form</p>
        <p class="text-base mt-4">Please complete the initial sections below. The students will fill in the
            remaining details.</p>
    </div>


    <div class="flex items-center justify-center">
        <img class="h-96" src="../../../../assets/onboard.svg" alt="">
    </div>


    <form [formGroup]="onboardForm">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                    name</label>
                <input formControlName="firstName" type="text" id="first_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="John" required />
                <div
                    *ngIf="onboardForm.controls.firstName.invalid && (onboardForm.controls.firstName.touched || onboardForm.controls.firstName.dirty)">
                    <label for="first_name" class="block mt-2 text-sm font-medium text-red-500 dark:text-white">First
                        Name
                        is required*</label>
                </div>
            </div>

            <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                    name</label>
                <input formControlName="lastName" type="text" id="last_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Doe" required />
                <div
                    *ngIf="onboardForm.controls.lastName.invalid && (onboardForm.controls.lastName.touched || onboardForm.controls.lastName.dirty)">
                    <label for="last_name" class="block mt-2 text-sm font-medium text-red-500 dark:text-white">Last Name
                        is required*</label>
                </div>
            </div>

            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                    address</label>
                <input formControlName="email" type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="john@email.com" required />
                <div
                    *ngIf="onboardForm.controls.email.invalid && (onboardForm.controls.email.touched || onboardForm.controls.email.dirty)">
                    <label for="email" class="block mt-2 text-sm font-medium text-red-500 dark:text-white"
                        *ngIf="onboardForm.controls.email.errors?.['required']">Email address
                        is required*</label>
                    <label for="email" class="block mt-2 text-sm font-medium text-red-500 dark:text-white"
                        *ngIf="onboardForm.controls.email.errors?.['email']">Invalid Email
                        address
                    </label>
                </div>
            </div>

            <div>
                <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                    number</label>
                <input formControlName="phone" type="text" id="phone_number"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="12345XXXXX" required />
                <div
                    *ngIf="onboardForm.controls.phone.invalid && (onboardForm.controls.phone.touched || onboardForm.controls.phone.dirty)">
                    <label for="phone_number" class="block mt-2 text-sm font-medium text-red-500 dark:text-white"
                        *ngIf="onboardForm.controls.phone.errors?.['required']">Phone
                        number is required*</label>
                    <label for="phone_number" class="block mt-2 text-sm font-medium text-red-500 dark:text-white"
                        *ngIf="onboardForm.controls.phone.errors?.['minlength']">Phone
                        number should have atleast 10 digits</label>
                </div>
            </div>


            <form class="w-full mx-auto">
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a
                    class</label>
                <select id="countries"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="class">
                    <option selected disabled>Select a
                        class</option>
                    <option value="US">Class 1</option>
                    <option value="CA">Class 2</option>
                    <option value="FR">Class 3</option>
                    <option value="DE">Class 4</option>
                </select>
            </form>

        </div>

        <div class="flex items-center justify-end">
            <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
        </div>
    </form>

</div>