.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .dropdown:hover + .dropdown-content {
    display: block;
  }

  .dropdown-content:hover {
    display: block;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}