<div>
    <div>
        <div
            class="w-full h-screen flex items-center justify-start bg-[url('assets/svg/auth.svg')] bg-no-repeat bg-right">
            <div class="w-1/3 mx-10 shadow-lg rounded-sm px-10 py-5">
                <div *ngIf="loginFormFlag;else elseblock">
                    <form [formGroup]="loginForm" (ngSubmit)="_submitLoginForm()">
                        <div class="flex items-center justify-center">
                            <p class="text-4xl my-2 font-bold">Login</p>
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.touched || loginForm.controls.email.dirty)">
                            <p>Email is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 px-2 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/email.svg" alt="">
                            <input formControlName="email" class="w-full outline-none border-none px-2 py-1 ml-1"
                                type="email" placeholder="Email">
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.touched || loginForm.controls.password.dirty)">
                            <p>Password is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/password.svg" alt="">
                            <input formControlName="password" class="w-full outline-none border-none px-2 py-1 ml-1"
                                type="text" placeholder="Password">
                        </div>
                        <div class="flex items-center justify-center">
                            <button class="bg-black text-white p-2 my-2 rounded-sm cursor-pointer w-full" type="submit"
                                [disabled]="!loginForm.valid">Login</button>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <p class="my-2">Don't have an account? <span class="text-blue-500 cursor-pointer"
                                    (click)="_changeLoginForm()">Signup</span> </p>

                            <p class="text-blue-500 my-1">Forgot Password?</p>
                        </div>
                    </form>
                </div>
                <ng-template #elseblock>
                    <form [formGroup]="signupForm" (ngSubmit)="_submitSignupForm()">
                        <div class="flex items-center justify-center">
                            <p class="text-4xl my-2 font-bold">Register</p>
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="signupForm.controls.name.invalid && (signupForm.controls.name.touched || signupForm.controls.name.dirty)">
                            <p>Name is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 px-2 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/user.svg" alt="">
                            <input class="w-full outline-none border-none px-2 py-1 ml-1" type="text" placeholder="Name"
                                formControlName="name">
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.touched || signupForm.controls.email.dirty)">
                            <p>Email is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 px-2 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/email.svg" alt="">
                            <input class="w-full outline-none border-none px-2 py-1 ml-1" type="email"
                                placeholder="Email" formControlName="email">
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="signupForm.controls.phone.invalid && (signupForm.controls.phone.touched || signupForm.controls.phone.dirty)">
                            <p>Phone is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/phone.svg" alt="">
                            <input class="w-full outline-none border-none px-2 py-1 ml-1" type="text"
                                placeholder="Phone" formControlName="phone">
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="signupForm.controls.dob.invalid && (signupForm.controls.dob.touched || signupForm.controls.dob.dirty)">
                            <p>Date Of Birth is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/calendar.svg" alt="">
                            <input class="w-full outline-none border-none px-2 py-1 ml-1" type="date" placeholder="date"
                                formControlName="dob">
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="signupForm.controls.gender.invalid && (signupForm.controls.gender.touched || signupForm.controls.gender.dirty)">
                            <p>Gender is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/gender.svg" alt="">
                            <select class="w-full outline-none border-none" formControlName="gender">
                                <option value="Male" [selected]="true" [disabled]="true">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="text-[10px] text-red-500"
                            *ngIf="signupForm.controls.password.invalid && (signupForm.controls.password.touched || signupForm.controls.password.dirty)">
                            <p>Password is required <sup>*</sup> </p>
                        </div>
                        <div class="flex border border-gray-400 items-center p-1 my-1 rounded-sm">
                            <img class="w-6 h-6" src="../../../assets/svg/password.svg" alt="">
                            <input class="w-full outline-none border-none px-2 py-1 ml-1" type="text"
                                placeholder="Password" formControlName="password">
                        </div>
                        <div class="flex items-center justify-center">
                            <button class="bg-black text-white p-2 my-2 rounded-sm cursor-pointer w-full" type="submit"
                                [disabled]="!signupForm.valid">Register</button>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <p class="my-2">Already have an account? <span class="text-blue-500 cursor-pointer"
                                    (click)="_changeLoginForm()">Login</span> </p>
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </div>
</div>