.side-nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            margin: 5px 0;
            padding: 5px 10px;
            width: 100%;

            div {
                p {
                    padding: 0;
                    margin: 0;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: white;
            } 
        }
    }
    
    
    .item {
        display: flex;
        align-items: center;
    
    
        .icons {
            margin-right: 10px;
            width: 30px;
            height: 40px;
        }
    
    }
    
}