<app-spinner [hidden]="!spinnerFlag"></app-spinner>
<div class="flex">
    <div class="w-1/5">
        <app-profile-side-nav></app-profile-side-nav>
    </div>
    <div class="w-4/5 px-2" *ngIf="profile">
        <div class="flex">
            <div class="flex w-80 h-80 mr-2">
                <img src="../../../../assets/svg/avtar.svg" alt="">
            </div>
            <div class="ml-2">
                <p class="text-[40px] text-red-500 font-bold">{{profile.name}}</p>
                <p class="my-1">{{profile.email}}</p>
                <p class="my-1">{{profile.role}}</p>
                <p class="my-1">{{profile.gender}}</p>
                <p class="my-1">{{profile.phone}}</p>
                <p class="my-1">{{profile.dob|date}}</p>
            </div>
        </div>
        <div>
            <p>
                Kriti is a Class 6 student who is curious and energetic, embodying the spirit of her age group. At
                11 years old, she is transitioning from primary to middle school, showing remarkable growth in
                independence and responsibility. Kriti is an eager learner, passionately exploring subjects like
                mathematics, science, history, and language arts. She thrives in group activities, forming strong
                friendships and actively participating in class projects and discussions. Kriti's interests span
                across sports, arts, and technology, reflecting her diverse talents. With her growing cognitive
                skills, she excels in critical thinking and problem-solving. Enthusiastic and adaptable, Kriti is
                increasingly aware of the world around her, ready to embrace new challenges and opportunities.
            </p>
        </div>
    </div>
</div>